@charset "UTF-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	background-color: yellow;
	background: -webkit-linear-gradient(yellow, red);
	background: -o-linear-gradient(yellow, red);
	background: -moz-linear-gradient(yellow, red);
	background: linear-gradient(yellow, red);
}

.hero-image{
	background-image: url(http://res.cloudinary.com/daz6vrnt4/image/upload/v1499828363/autumn-goodman-242822_ovbyob.jpg);
	padding-bottom: 600px;
	background-size: cover;
}
.navbar.navbar-default{
	background-color: transparent;
	padding-bottom: 
}
#defaultNavbar1{
	background-color:transparent;
}

.form-control{
	background-color: transparent;
}

.navbar-brand{
	font-family: "acier-bat-noir", sans-serif;
	color:#fff;
}

li{
	font-family: "ff-enzo-web", sans-serif;
	color: #fff;
}

.OHM{
	font-family: "acier-bat-noir",sans-serif;
	font-size: 100px;
	color: #fff;
}

/* Original*/

.row {
	padding-left: 20px;
	padding-right: 20px;
}
.container{
	position: relative;
	width: 100%;
	padding-bottom: 60px;
}

#about{
	height: auto;
	position: relative;
	z-index: 1;
}

.voices{
	text-align: center;
	position: absolute;
	left: 0.5em;
	z-index: 2;
}

p{
	font-family: "ff-enzo-web", sans-serif;
	font-weight: bold;
}

.text_header{
	font-family: "acier-bat-noir",sans-serif;
	font-size: 40px;
	position: absolute;
	left: 25%;
	top: 25%;
	width: 50%;
	text-align: center;
	color: #000;
}

.text_column{
	position: absolute;
	left: 35%;
	top: 45%;
	width: 50%;
	text-align: left;
	color: #000;
}
	
h3{
	font-family: "abolition",sans-serif; 
	font-size: 40px;
	text-align: center;
}
.img-container {
    position: relative;
    width: 33%;
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

h5{
	font-family: "abolition",sans-serif; 
	font-weight: bold;
}
/*Footer*/
.button{
	width: 150px;
	margin-top: 40px;
	margin-right: 400px;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}

